/* ==========================================================================
   Display definitions
   ========================================================================== */
@-o-viewport {
  width: device-width;
  zoom: 1.0; }

@-ms-viewport {
  width: device-width;
  zoom: 1.0; }

@viewport {
  width: device-width;
  zoom: 1.0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-size: 16px;
  font-size: 1rem;
  *zoom: 1; }
  body:before, body:after {
    display: table;
    content: ""; }
  body:after {
    clear: both; }

/* ==========================================================================
   Typography
   ========================================================================== */
html,
body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222; }

h1,
h2,
h3 {
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  text-rendering: optimizelegibility; }

h1 {
  font-size: 32px;
  font-size: 2rem;
  margin: 0.75em 0; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  margin: 0.7em 0; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 0.63333em 0; }

b,
strong {
  font-weight: bold; }

small {
  font-size: 12px;
  font-size: 0.75rem; }

p {
  font-size: 16px;
  font-size: 1rem;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
  line-height: 1.4em;
  margin: 0 0 1.4em 0; }

blockquote {
  margin: 1em 2.5em; }

abbr[title] {
  border-bottom: 1px dotted; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Links
   ========================================================================== */
a {
  outline: 0;
  text-decoration: none; }
  a:visited {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8; }
  a:focus {
    outline: thin dotted; }
  a:active, a:hover {
    outline: 0;
    text-decoration: underline; }

/* ==========================================================================
   Lists
   ========================================================================== */
ul,
ol {
  list-style: none;
  margin: 0 0 1.4em 0;
  padding: 0;
  list-style-image: none; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* ==========================================================================
   Media
   ========================================================================== */
img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

img,
embed,
video {
  max-width: 100%;
  height: auto !important;
  border: 0;
  _width: 100%; }

.ie8 img, ie7 img {
  width: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }
  figure embed,
  figure img {
    margin: 0;
    max-width: 100%;
    height: auto; }

figcaption {
  display: block;
  font-weight: normal; }

/* ==========================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  border: 0;
  padding: 0;
  *margin-left: 7px;
  white-space: normal; }

label {
  cursor: pointer; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  appearance: button;
  *overflow: visible;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

textarea {
  overflow: auto;
  resize: vertical;
  vertical-align: top; }

input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  -ms-appearance: button;
  -o-appearance: button;
  *overflow: visible; }
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  *width: 13px;
  *height: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  -o-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none; }
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default; }

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
  color: #b94a48;
  border-color: #ee5f5b; }
  input:focus:required:invalid:focus,
  textarea:focus:required:invalid:focus,
  select:focus:required:invalid:focus {
    border-color: #e9322d; }

::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 0.875rem; }

input:-moz-placeholder {
  font-size: 14px;
  font-size: 0.875rem; }

/* ==========================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  height: auto; }
  table button, table input {
    *overflow: auto; }
  table [colspan] {
    text-align: center; }
  table [rowspan] {
    vertical-align: middle; }

td {
  vertical-align: top;
  padding: 0.5em; }

th {
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  padding: 0.75em; }
  th:empty {
    border: none; }

thead,
tfoot {
  text-align: center; }

thead th {
  vertical-align: bottom; }

[colspan="1"] {
  text-align: left; }

[rowspan="1"] {
  vertical-align: top; }

tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

/*  Font Awesome
    the iconic font designed for use with Twitter Bootstrap
    -------------------------------------------------------
    The full suite of pictographic icons, examples, and documentation
    can be found at: http://fortawesome.github.com/Font-Awesome/

    License
    -------------------------------------------------------
    The Font Awesome webfont, CSS, and LESS files are licensed under CC BY 3.0:
    http://creativecommons.org/licenses/by/3.0/ A mention of
    'Font Awesome - http://fortawesome.github.com/Font-Awesome' in human-readable
    source code is considered acceptable attribution (most common on the web).
    If human readable source code is not available to the end user, a mention in
    an 'About' or 'Credits' screen is considered acceptable (most common in desktop
    or mobile software).

    Contact
    -------------------------------------------------------
    Email: dave@davegandy.com
    Twitter: http://twitter.com/fortaweso_me
    Work: Lead Product Designer @ http://kyruus.com

    */
@font-face {
  font-family: "FontAwesome";
  src: font-url("../fonts/fontawesome-webfont.eot");
  src: font-url(../fonts/fontawesome-webfont.eot?#iefix) format('eot'), font-files("../fonts/fontawesome-webfont.woff", woff, "../fonts/fontawesome-webfont.ttf", truetype, "../fonts/fontawesome-webfont.svg#FontAwesomeRegular", svg);
  font-weight: normal;
  font-style: normal; }

/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit; }

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: middle;
  font-size: 4/3em; }

.btn [class^="icon-"],
.btn [class*=" icon-"], .nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em; }

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }
li .icon-large:before,
li .icon-large:before {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em; }

ul.icons {
  list-style-type: none;
  margin-left: 2em;
  text-indent: -.8em; }
  ul.icons li [class^="icon-"],
  ul.icons li [class*=" icon-"] {
    width: .8em; }
  ul.icons li .icon-large:before,
  ul.icons li .icon-large:before {
    /* 1.5 increased font size for icon-large * 1.25 width */
    vertical-align: initial; }

@media print {
  /* ==========================================================================
     Print
     ========================================================================== */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid #7f7f7f;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
.container {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.topBanner {
  background: #7abcff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7abcff), color-stop(44%, #60abf8), color-stop(100%, #4096ee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 );
  /* IE6-9 */
  border-bottom: 1px solid #1a1a1a;
  width: 100%;
  min-height: 30px;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  -moz-box-shadow: 0px 1px 1px #444444;
  -webkit-box-shadow: 0px 1px 1px #444444;
  box-shadow: 0px 1px 1px #444444; }

.userBtn {
  float: left;
  margin: 5px; }

.toolBtn {
  float: right;
  margin: 5px; }

.photoGrid {
  margin-top: 40px; }

.photoGrid img {
  margin: 2px; }

article {
  min-height: 10px; }

.photoTitle {
  min-height: 10px; }

.logo {
  width: 200px;
  margin: 5px auto;
  color: #fff;
  text-shadow: -1px -1px 1px black, 1px 1px 1px #cccccc; }

#nav {
  background-image: url(../img/navbg.png); }

#infoPers p {
  font-size: 14px; }
