/* ==========================================================================
   Display definitions
   ========================================================================== */
   
	@-o-viewport {
		width: device-width;
		zoom: 1.0;
	}
		
	@-ms-viewport {
		width: device-width;
		zoom: 1.0;
	}
	
	@viewport { 
		width: device-width;
		zoom: 1.0;
	}
	
	* {
		@include box-sizing();
	}
   
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	nav,
	section,
	summary {
		display: block;
	}
	
	audio,
	canvas,
	video {
		display: inline-block;
		*display: inline;
		*zoom: 1;
	}

	audio:not([controls]) {
		display: none;
		height: 0;
	}

	[hidden] {
		display: none;
	}