/* ==========================================================================
   Typography
   ========================================================================== */
   
	html,
	body,
	button,
	input,
	select,
	textarea {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #222;
	}

	h1,
	h2,
	h3 {
		font-family: inherit;
		margin: 0;
		font-weight: bold;
		text-rendering: optimizelegibility;
	}

	h1 {
		@include font-size(32);
		margin: 0.75em 0;
	}

	h2 {
		@include font-size(28);
		margin: 0.7em 0;
	}

	h3 {
		@include font-size(24);
		margin: 0.63333em 0;
	}

	b,
	strong {
		font-weight: bold;
	}

	small {
		@include font-size(12);
	}

	p {
		@include font-size();
		@include hyphens();
		line-height: 1.4em;
		margin: 0 0 1.4em 0;
	}

	blockquote { 
		margin: 1em 2.5em; 
	}

	abbr[title] {
		border-bottom: 1px dotted;
	}

	dfn {
		font-style: italic;
	}

	hr {
		display: block;
		height: 1px;
		border: 0;
		border-top: 1px solid #ccc;
		margin: 1em 0;
		padding: 0;
	}

	ins {
		background: #ff9;
		color: #000;
		text-decoration: none;
	}

	mark {
		background: #ff0;
		color: #000;
		font-style: italic;
		font-weight: bold;
	}

	pre,
	code,
	kbd,
	samp {
		font-family: monospace, serif;
		_font-family: 'courier new', monospace;
		font-size: 1em;
	}

	pre {
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	
	q {
		quotes: "\201C" "\201D" "\2018" "\2019";
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}

	sup {
		top: -0.5em;
	}

	sub {
		bottom: -0.25em;
	}